* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: 'Roboto', sans-serif;
}

body {
}

.backgroundImage {
  background-image: url('../public/background.jpg');

  /* Add the blur effect */
  filter: blur(px);
  -webkit-filter: blur(6px);

  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
}


#wrapper {
  overflow-x: auto;
  overflow-y: auto;
  max-width: 1440px;
  margin: 64px auto 32px;
  padding: 32px 64px;
  background-color: #fff;
  position: relative;
  left: 0;
  right: 0;
  z-index: 9999;
  border-radius: 10px;
}
